dnspython==2.6.1 # required to connect using MDB Atlas uri
jsonschema==4.0.0 # maximum version working on Python 3.6    
mongomock==4.1.2
moto==2.3.1
nltk==3.6.7 # maximum version working on Python 3.6
pymongo==4.6.3
xlrd==1.2.0
xmldiff==2.4
