boto3==1.42.79
certifi==2026.2.25
fakeredis==2.34.1
jsonschema==4.25.1
mongomock==4.3.0
moto==5.1.22
nltk==3.9.3
pymongo==4.16.0
pytest==9.0.2
redis==7.3.0
requests>=2.32.2
responses==0.26.0
valkey==6.1.1
xlrd==2.0.2
xmldiff==2.7.0
