boto3==1.42.0
certifi==2025.11.12
fakeredis==2.32.1
jsonschema==4.25.1
mongomock==4.3.0
moto==5.1.17
nltk==3.9.2
pymongo==4.15.4
pytest==8.4.2
redis==7.0.1
requests>=2.32.2
responses==0.25.8
valkey==6.1.1
xlrd==2.0.2
xmldiff==2.7.0
